.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #dfe4ea;
  padding: 20px
}

.logo{
  font-weight: bold;
  font-size: 3rem;
  color: #57606f;
  font-family: "Lacquer";
}
ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
}
li{
  padding: 5px 5px;
  font-size: 1.3rem;
  color: #57606f;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid lightgray;

}
