.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;
  background-color: #535c68;
  padding-left: 15px;
  padding-right: 15px;
}

.logo{
  font-weight: bold;
  font-size: 3rem;
  color: #dfe4ea;
  font-family: "Lacquer";
  margin: 0;
  cursor: pointer;
}
ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}
li{
  padding: 7px 7px;
  margin-left: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #57606f;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid lightgray;
  background-color: #dfe4ea;
  border-radius: 10px;
}

